* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

img {
    background-size: cover;
}

.topo-login,
.topo-home {
    width: 100%;
    height: 70px;
    background: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
}

.logo-area {
    display: flex;
    align-items: center;
    gap: 15px;
}

.bandeira {
    width: 50px;
    height: 28px;
    background: linear-gradient(to right, green 33%, white 33% 66%, red 66%);
    border: 1px solid black;
}

.menu-login a,
.menu-home a {
    color: black;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    margin: 0 10px;
}

.container-login {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: -220px;
}

.card-login {
    width: 430px;
    background: #2f6039;
    padding: 30px;
    border-radius: 25px;
    color: white;
    text-align: center;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
}

.card-login h2 {
    margin-bottom: 20px;
    font-size: 28px;
}

.card-login label {
    display: block;
    text-align: left;
    margin-left: 38px;
    margin-top: 10px;
    font-weight: bold;
}

.card-login input {
    width: 80%;
    margin: 10px 0;
    padding: 12px;
    border-radius: 15px;
    border: none;
    outline: none;
    font-size: 15px;
}

.btn-login {
    background: #653a20;
    color: white;
    border: none;
    padding: 12px 30px;
    border-radius: 10px;
    margin-top: 15px;
    cursor: pointer;
    font-size: 16px;
}

.botao-link {
    display: inline-block;
    text-align: center;
    text-decoration: none;
    width: 60%;
}

.link-cadastro {
    display: block;
    margin-top: 15px;
    color: white;
    text-decoration: underline;
    font-size: 14px;
}

.titulo-italia {
    font-size: 120px;
    font-family: serif;
    letter-spacing: 20px;
    font-weight: 400;
}

.i-verde { color: green; }
.i-branco { color: white; }
.i-vermelho { color: red; }

.faixa-bandeira {
    width: 100%;
    display: flex;
    height: 160px;
}

.faixa-bandeira .verde { background: green; width: 33.3%; }
.faixa-bandeira .branco { background: white; width: 33.3%; }
.faixa-bandeira .vermelho { background: red; width: 33.3%; }


.titulo-italia {
    width: 100%;
    text-align: center;
    font-size: 120px;
    font-family: serif;
    letter-spacing: 20px;
    font-weight: 400;
    margin-top: -230px;
}
